In [81]:
import pandas as pd

In [82]:
covid = pd.read_csv("Covid Data.csv")

In [83]:
covid.rename(columns={'CLASIFFICATION_FINAL': 'CLASSIFICATION_FINAL'}, inplace=True)
covid.rename(columns={'HIPERTENSION': 'HYPERTENSION'}, inplace=True)

In [84]:
sex_class = {
    "1": "Female",
    "2": "Male"
}

covid["SEX"] = covid["SEX"].astype(str).replace(sex_class)

In [85]:
covid["CLASSIFICATION_FINAL"] = covid["CLASSIFICATION_FINAL"].astype(str)

In [86]:
class_final = {
    "1": "Critical",
    "2": "Medium",
    "3": "Mild"
}
covid["CLASSIFICATION_FINAL"] = covid["CLASSIFICATION_FINAL"].astype(str).map(class_final)
covid["CLASSIFICATION_FINAL"].replace(to_replace={pd.NA: "Negative or Inconclusive"}, inplace=True)

In [87]:
covid["PATIENT_TYPE"] = covid["PATIENT_TYPE"].astype(str)

In [88]:
care_type = {
    "1": "Returned Home",
    "2": "Hospitalization",
    "97": "Missing Data",
    "99": "Missing Data"
}
covid["PATIENT_TYPE"] = covid["PATIENT_TYPE"].astype(str).replace(care_type)

In [89]:
monia = {
    "1": "Yes",
    "2": "No",
    "97": "Missing Data",
    "99": "Missing Data",
    "98": "Missing Data"
}
covid["PNEUMONIA"] = covid["PNEUMONIA"].astype(str).replace(monia)
covid["PREGNANT"] = covid["PREGNANT"].astype(str).replace(monia)
covid["DIABETES"] = covid["DIABETES"].astype(str).replace(monia)
covid["COPD"] = covid["COPD"].astype(str).replace(monia)
covid["ASTHMA"] = covid["ASTHMA"].astype(str).replace(monia)
covid["INMSUPR"] = covid["INMSUPR"].astype(str).replace(monia)
covid["HYPERTENSION"] = covid["HYPERTENSION"].astype(str).replace(monia)
covid["CARDIOVASCULAR"] = covid["CARDIOVASCULAR"].astype(str).replace(monia)
covid["RENAL_CHRONIC"] = covid["RENAL_CHRONIC"].astype(str).replace(monia)
covid["OTHER_DISEASE"] = covid["OTHER_DISEASE"].astype(str).replace(monia)
covid["OBESITY"] = covid["OBESITY"].astype(str).replace(monia)
covid["TOBACCO"] = covid["TOBACCO"].astype(str).replace(monia)
covid["USMER"] = covid["USMER"].astype(str).replace(monia)
covid["INTUBED"] = covid["INTUBED"].astype(str).replace(monia)
covid["ICU"] = covid["ICU"].astype(str).replace(monia)
covid["DATE_DIED"] = covid["DATE_DIED"].astype(str).replace("9999-99-99","9999-01-02")

In [90]:
covid.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASSIFICATION_FINAL,ICU
0,No,1,Female,Returned Home,03/05/2020,Missing Data,Yes,65,No,No,...,No,No,Yes,No,No,No,No,No,Mild,Missing Data
1,No,1,Male,Returned Home,03/06/2020,Missing Data,Yes,72,Missing Data,No,...,No,No,Yes,No,No,Yes,Yes,No,Negative or Inconclusive,Missing Data
2,No,1,Male,Hospitalization,09/06/2020,Yes,No,55,Missing Data,Yes,...,No,No,No,No,No,No,No,No,Mild,No
3,No,1,Female,Returned Home,12/06/2020,Missing Data,No,53,No,No,...,No,No,No,No,No,No,No,No,Negative or Inconclusive,Missing Data
4,No,1,Male,Returned Home,21/06/2020,Missing Data,No,68,Missing Data,Yes,...,No,No,Yes,No,No,No,No,No,Mild,Missing Data

In [91]:
covid.tail()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HYPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASSIFICATION_FINAL,ICU
1048570,No,13,Male,Returned Home,9999-01-02,Missing Data,No,40,Missing Data,No,...,No,No,No,No,No,No,No,No,Negative or Inconclusive,Missing Data
1048571,Yes,13,Male,Hospitalization,9999-01-02,No,No,51,Missing Data,No,...,No,No,Yes,No,No,No,No,No,Negative or Inconclusive,No
1048572,No,13,Male,Returned Home,9999-01-02,Missing Data,No,55,Missing Data,No,...,No,No,No,No,No,No,No,No,Negative or Inconclusive,Missing Data
1048573,No,13,Male,Returned Home,9999-01-02,Missing Data,No,28,Missing Data,No,...,No,No,No,No,No,No,No,No,Negative or Inconclusive,Missing Data
1048574,No,13,Male,Returned Home,9999-01-02,Missing Data,No,52,Missing Data,No,...,No,No,No,No,No,No,No,No,Negative or Inconclusive,Missing Data

In [35]:
covid.ndim

2

In [36]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  object
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  object
 3   PATIENT_TYPE          1048575 non-null  object
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  object
 6   PNEUMONIA             1048575 non-null  object
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  object
 9   DIABETES              1048575 non-null  object
 10  COPD                  1048575 non-null  object
 11  ASTHMA                1048575 non-null  object
 12  INMSUPR               1048575 non-null  object
 13  HYPERTENSION          1048575 non-null  object
 14  OTHER_DISEASE         1048575 non-null  object
 15  CARDIOVASCULAR        1048575 non-null  object
 16  OBESITY               1048575 non-null  object
 17  RENAL_CHRONIC         1048575 non-null  object
 18  TOBACCO               1048575 non-null  object
 19  CLASSIFICATION_FINAL  1048575 non-null  object
 20  ICU                   1048575 non-null  object
dtypes: int64(2), object(19)
memory usage: 168.0+ MB

In [18]:
covid.shape

(1048575, 21)

In [20]:
covid.columns

Index(['USMER', 'MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED',
       'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR',
       'HYPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO', 'CLASSIFICATION_FINAL', 'ICU'],
      dtype='object')

In [92]:
covid.to_csv('New Covid Assignment.csv', index=False)